body,h1,h2,h3,h4,h5,h6{
    font-family: 'Play', sans-serif;
}

.zero-height{height:0px !important;}
.profile_user_img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.profile_img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ddd;
}




.select2{width:100%!important;}
/* Start Onoff Small switch */
.onoffswitch-small {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-small-checkbox {
    display: none;
}
.onoffswitch-small-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
}
.onoffswitch-small-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-small-inner:before, .onoffswitch-small-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-small-inner:before {
    content: "ON";
    padding-left: 9px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-small-inner:after {
    content: "OFF";
    padding-right: 9px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-small-switch {
    display: block; width: 12px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    border: 2px solid #999999; border-radius: 10px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-inner {
    margin-left: 0;
}
.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-switch {
    right: 0px;
}
/* Close Onoff Small switch */
/*custom css*/
.header-custom{
  background-color: #54889d;
  color: #fcfcfc;
}
.header-custom a{color: #fff;}
.header-custom button:hover, button:active, button:hover{color: #cccccc;}
.header-custom a:hover, a:active, a:hover{color: #cccccc;}
.btn-custom {background-color: #54889d;border-color: #54889d;}
.btn-custom:hover{color: #cccccc;background: none !important;}

.vertical-align td{vertical-align:middle;}

.border-fieldset {
    border: 1px solid #DBDEE0 !important;
    padding: 15px !important;
    margin: 0 0 25px 0 !important;
    box-shadow: 0px 0px 0px 0px #000;
}

.border-legend {
    font-size: 1.1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    color: #5e5e5e;
    padding: 5px 15px;
    border: 1px solid #DBDEE0 !important;
    margin: 0px;
}

textarea{resize: none !important; border-radius: 0px !important;}



.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "play";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

.box-custom-border {
    border-top-color: 
    #54889d;
}

.btn-past{background-color:#54889D;border-color:#54889D; color:#ffffff;}
.btn-past:hover{background-color:#4D7D91;border-color:#4D7D91; color:#ffffff;}